In [174]:
import numpy as np 
import pandas as pd
import math
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [29]:
df_train = pd.read_csv("titanic/train.csv")
df_test = pd.read_csv("titanic/test.csv")

In [112]:
df_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [31]:
df_train_copy = df_train.copy()
df_test_copy = df_test.copy()

In [32]:
df_train_copy=df_train_copy.drop(columns=['Cabin','Ticket','Name','PassengerId'])
df_test_copy=df_test_copy.drop(columns=['Cabin','Ticket','Name','PassengerId'])

In [33]:
df_train_copy['Sex'].replace(['male', 'female'], [0,1], inplace=True)
df_test_copy['Sex'].replace(['male', 'female'], [0,1], inplace=True)

In [34]:
df_train_copy.corr()

          Survived    Pclass       Sex       Age     SibSp     Parch      Fare
Survived  1.000000 -0.338481  0.543351 -0.077221 -0.035322  0.081629  0.257307
Pclass   -0.338481  1.000000 -0.131900 -0.369226  0.083081  0.018443 -0.549500
Sex       0.543351 -0.131900  1.000000 -0.093254  0.114631  0.245489  0.182333
Age      -0.077221 -0.369226 -0.093254  1.000000 -0.308247 -0.189119  0.096067
SibSp    -0.035322  0.083081  0.114631 -0.308247  1.000000  0.414838  0.159651
Parch     0.081629  0.018443  0.245489 -0.189119  0.414838  1.000000  0.216225
Fare      0.257307 -0.549500  0.182333  0.096067  0.159651  0.216225  1.000000

In [35]:
df_train_copy['Embarked'].replace(['C', 'S','Q'], [0,1,2], inplace=True)
df_test_copy['Embarked'].replace(['C', 'S','Q'], [0,1,2], inplace=True)

In [114]:
df_train_copy = df_train_copy.fillna(30)

In [115]:
X_train = df_train_copy.drop(columns="Survived")
y_train=df_train_copy["Survived"]

In [166]:
reg = RandomForestRegressor(n_estimators=100, max_depth=10, random_state=42)
reg.fit(X_train,y_train)

RandomForestRegressor(max_depth=10, random_state=42)

In [167]:
y_pred = reg.predict(df_test_copy.fillna(30))

In [168]:
sub=pd.DataFrame(y_pred)

In [169]:
a=pd.DataFrame(df_test["PassengerId"]).merge(sub,left_index=True,right_index=True).rename(columns={0: "Survived"})

In [170]:
b=a.reset_index(drop=True)

In [171]:
b["Survived"] = b["Survived"].astype(int)

In [172]:
b.round().to_csv('submit.csv',index=False)

In [175]:
logreg = LogisticRegression(solver="liblinear")  # Use liblinear for small datasets

# Define hyperparameters grid
param_grid = {
    "C": [0.001, 0.01, 0.1, 1, 10, 100],  # Regularization strength
    "penalty": ["l1", "l2"]  # L1 = Lasso (sparse), L2 = Ridge (smooth)
}

# Perform GridSearch
grid_search = GridSearchCV(logreg, param_grid, cv=5, scoring="accuracy", n_jobs=-1)
grid_search.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=LogisticRegression(solver='liblinear'), n_jobs=-1,
             param_grid={'C': [0.001, 0.01, 0.1, 1, 10, 100],
                         'penalty': ['l1', 'l2']},
             scoring='accuracy')

In [176]:
best_logreg = grid_search.best_estimator_
print("Best Parameters:", grid_search.best_params_)

Best Parameters: {'C': 10, 'penalty': 'l1'}

In [182]:
c = pd.DataFrame(best_logreg.predict(df_test_copy.fillna(30)))

In [186]:
c=pd.DataFrame(df_test["PassengerId"]).merge(c,left_index=True,right_index=True).rename(columns={0: "Survived"}).reset_index(drop=True)

In [187]:
c.to_csv('submit_reg.csv',index=False)

In [188]:
c

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]